<html>
<head>
<style>
html * {
  font-family: Verdana, Arial;
  font-size: 12px;
}

table {
  border-top: 1px solid black;
  border-left: 1px solid black;
}

td {
  font-family: Verdana, Arial;
  font-size: 12px;
  padding: 3px;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
}
</style>
</head>
<body>
<a href="/?action=wipejobs">Wipe done jobs</a> | <a href="/?action=restart">Restart agent</a>
        
<div>Start time: <span th:text="${startTime}"></span></div>
<div>Version: <span th:text="${version}"></span></div>
<table class="jobs" cellpadding="0" cellspacing="0">
<tr><td>Name</td><td>Status</td><td>Job archive</td><td>Result archive</td></tr>
<tr th:each="job: ${jobs}">
  <td th:text="${job.name}">&nbsp;</td>
  <td><a th:if="${job.status == 'PROCESSING'}" th:text="${job.status}" th:href="${'/log' + job.name}">&nbsp;</a><span th:unless="${job.status == 'PROCESSING'}" th:text="${job.status}"></span></td>
  <td><a th:if="${job.jobArchiveUrl}" th:href="${job.jobArchiveUrl}" th:text="${job.jobArchiveName}">&nbps;</a><span th:unless="${job.jobArchiveUrl}" th:text="${job.jobArchiveName}">&nbps;</span></td>
  <td><a th:if="${job.resultArchiveUrl}" th:href="${job.resultArchiveUrl}" th:text="${job.resultArchiveName}">&nbps;</a><a th:unless="${job.resultArchiveUrl}" th:text="${job.resultArchiveName}">&nbps;</span></td>
</tr>
</table>
</body>
</html>